In [1]:
import pandas as pd

# read dataframes
provisions_df = pd.read_csv('Firearm Provisions.csv')
gun_violence_df = pd.read_csv('Gun Violence Data (2013-2018).csv')
mass_shooters_df = pd.read_csv('Mass Shooters.csv')
mass_shooting_df = pd.read_csv('Mass Shootings.csv')
mortality_df = pd.read_csv('Mortality By State.csv')

# Check for null values
print(f'There are {provisions_df.isnull().sum().sum()} null values in the provisions_df')
print(f'There are {gun_violence_df.isnull().sum().sum()} null values in the gun_violence_df')
print(f'There are {mass_shooters_df.isnull().sum().sum()} null values in the mass_shooters_df')
print(f'There are {mass_shooting_df.isnull().sum().sum()} null values in the mass_shooting_df')
print(f'There are {mortality_df.isnull().sum().sum()} null values in the mortality_df')

There are 0 null values in the provisions_df
There are 0 null values in the gun_violence_df
There are 405 null values in the mass_shooters_df
There are 0 null values in the mass_shooting_df
There are 0 null values in the mortality_df

In [2]:
mass_shooting_df['Gender'].unique()

array(['Male', 'Female', 'Transgender'], dtype=object)

In [3]:
# Breakdown of mass_shooters_df null values
print(mass_shooters_df.isnull().sum()/mass_shooters_df.shape[0]*100)

Case_No                                              0.0
Year                                                 0.0
State                                                0.0
State_Code                                           0.0
Location_Code                                        0.0
Location                                             0.0
Workplace_Shooting                                   0.0
Number_Killed                                        0.0
Number_Injured                                       0.0
Age                                                  0.0
Gender_Code                                          0.0
Gender                                               0.0
Criminal_Record                                      0.5
Part_I_Crimes_Code                                   1.0
Part_I_Crimes                                        1.0
Part_II_Crimes_Code                                  1.0
Part_II_Crimes                                       1.0
Highest_Level_of_Justice_System_Involvement_Code     1.0
Highest_Level_of_Justice_System_Involvement         37.0
History_of_Physical_Altercations_Code                1.0
History_of_Physical_Altercations                     1.0
History_of_Domestic_Abuse_Code                       1.5
History_of_Domestic_Abuse                            1.5
Domestic_Abuse_Specified_Code                        1.5
Domestic_Abuse_Specified                            65.0
Prior_Counseling                                     1.5
Voluntary_or_Mandatory_Counseling_Code               2.0
Voluntary_or_Mandatory_Counseling                   73.0
Mental_Illness_Code                                  1.5
Mental_Illness                                       1.5
Substance_Use_Code                                   2.5
Substance_Use                                        2.5
Role_of_Psychosis_in_the_Shooting_Code               1.5
Role_of_Psychosis_in_the_Shooting                    1.5
Total_Firearms_Brought_to_the_Scene                  1.0
dtype: float64

In [4]:
# Drop columns with > 35% null values
mass_shooters_df = mass_shooters_df.drop(columns=['Highest_Level_of_Justice_System_Involvement', 'Domestic_Abuse_Specified', 'Voluntary_or_Mandatory_Counseling'])

#Drop rows will null values
mass_shooters_df = mass_shooters_df.dropna()

In [5]:
# Extract the month and year into separate columns
gun_violence_df['date'] = pd.to_datetime(gun_violence_df['date'])
gun_violence_df['year'] = gun_violence_df['date'].dt.year
print("Gun Violence:\n", gun_violence_df['year'].unique())

mass_shooting_df['Full Date'] = pd.to_datetime(mass_shooting_df['Full Date'])
mass_shooting_df['year'] = mass_shooting_df['Full Date'].dt.year
print("Mass Shooting:\n", mass_shooting_df['year'].unique())

Gun Violence:
 [2013 2014 2015 2016 2017 2018]
Mass Shooting:
 [2017 2016 2007 2012 2019 1991 2022 1984 2023 2018 1966 2015 1986 1999
 2009 2013 1990 2021 2005 1989 2010 2011 1982 1993 1973 1976 1988 2000
 2006 1968 1977 2014 1983 2008 1972 2004 2003 1967 1992 1987 1998 1994
 2001 1975 1980 1995 1996 2020 1981 2024 1970 1969 1985 1997 1978 2002]

In [6]:
#abbreviate state names
replace_states = {
    "Alabama": "AL",
    "Alaska": "AK",
    "Arizona": "AZ",
    "Arkansas": "AR",
    "California": "CA",
    "Colorado": "CO",
    "Connecticut": "CT",
    "Delaware": "DE",
    "Florida": "FL",
    "Georgia": "GA",
    "Hawaii": "HI",
    "Idaho": "ID",
    "Illinois": "IL",
    "Indiana": "IN",
    "Iowa": "IA",
    "Kansas": "KS",
    "Kentucky": "KY",
    "Louisiana": "LA",
    "Maine": "ME",
    "Maryland": "MD",
    "Massachusetts": "MA",
    "Michigan": "MI",
    "Minnesota": "MN",
    "Mississippi": "MS",
    "Missouri": "MO",
    "Montana": "MT",
    "Nebraska": "NE",
    "Nevada": "NV",
    "New Hampshire": "NH",
    "New Jersey": "NJ",
    "New Mexico": "NM",
    "New York": "NY",
    "North Carolina": "NC",
    "North Dakota": "ND",
    "Ohio": "OH",
    "Oklahoma": "OK",
    "Oregon": "OR",
    "Pennsylvania": "PA",
    "Rhode Island": "RI",
    "South Carolina": "SC",
    "South Dakota": "SD",
    "Tennessee": "TN",
    "Texas": "TX",
    "Utah": "UT",
    "Vermont": "VT",
    "Virginia": "VA",
    "Washington": "WA",
    "West Virginia": "WV",
    "Wisconsin": "WI",
    "Wyoming": "WY",
    "District of Columbia": "DC",
}

provisions_df['state'] = provisions_df['state'].map(replace_states)
print("Provisions:\n", provisions_df['state'].unique())
gun_violence_df['state'] = gun_violence_df['state'].map(replace_states)
print("Gun Violence", gun_violence_df['state'].unique())

Provisions:
 ['AL' 'AK' 'AZ' 'AR' 'CA' 'CO' 'CT' 'DE' 'FL' 'GA' 'HI' 'ID' 'IL' 'IN'
 'IA' 'KS' 'KY' 'LA' 'ME' 'MD' 'MA' 'MI' 'MN' 'MS' 'MO' 'MT' 'NE' 'NV'
 'NH' 'NJ' 'NM' 'NY' 'NC' 'ND' 'OH' 'OK' 'OR' 'PA' 'RI' 'SC' 'SD' 'TN'
 'TX' 'UT' 'VT' 'VA' 'WA' 'WV' 'WI' 'WY']
Gun Violence ['PA' 'CA' 'OH' 'CO' 'NC' 'OK' 'NM' 'LA' 'MD' 'TN' 'MO' 'DC' 'IL' 'DE'
 'UT' 'MI' 'GA' 'IN' 'MS' 'NY' 'FL' 'WA' 'SC' 'AZ' 'KY' 'NJ' 'VA' 'WI'
 'RI' 'TX' 'AL' 'KS' 'CT' 'WV' 'MN' 'NV' 'NE' 'MA' 'HI' 'NH' 'IA' 'AK'
 'AR' 'ID' 'OR' 'WY' 'ME' 'ND' 'MT' 'VT' 'SD']

In [7]:
# Check for bad values in non-numeric columns of mass_shooters_df
mass_shooters_check = mass_shooters_df.select_dtypes(include=['object']).columns
for i in mass_shooters_check:
    print(i, ":\n", mass_shooters_df[i].unique())

State :
 ['MI' 'OR' 'TX' 'KY' 'CA' 'NC' 'MS' 'SC' 'FL' 'AR' 'WI' 'NY' 'NJ' 'PA'
 'IL' 'KS' 'CT' 'WA' 'OK' 'AK' 'MO' 'CO' 'LA' 'ID' 'MN' 'NV' 'IN' 'TN'
 'OH' 'AZ' 'RI' 'HI' 'ME' 'VA' 'DC' 'UT' 'MA' 'NE' 'GA' 'AL' 'MD' 'IA'
 'NH']
Location :
 ['Restaurant / bar / nightclub' 'House of worship' 'Retail'
 'Place of residence' 'Office'
 'Government building / place of civic importance' 'Warehouse / factory'
 'K-12 school' 'Outdoors' 'College / university' 'Post office']
Gender :
 ['Male' 'Female' 'Transgender']
Part_I_Crimes_Code :
 ['1' '0' '1, 2, 8' '3, 5' '4' '1, 2' '6' '3' '5, 7' '1, 5' '4, 6' '2'
 '2, 4' '3, 4' '1, 2, 3, 4, 5' '1, 3' '2, 3, 5' '7' '2, 6' '5' '5, 6']
Part_I_Crimes :
 ['Homicide' 'No evidence' 'Homicide; Forcible rape; Arson'
 'Robbery; Burglary' 'Aggravated Assault' 'Homicide; Forcible rape'
 'Larceny-Theft' 'Robbery' 'Burglary; Motor Vehicle Theft'
 'Homicide; Burglary' 'Aggravated Assault; Larceny-Theft' 'Forcible rape'
 'Forcible rape; Aggravated Assault' 'Robbery; Aggravated Assault'
 'Homicide; Forcible rape; Robbery; Aggravated Assault; Burglary'
 'Homicide; Robbery' 'Forcible rape; Robbery; Burglary'
 'Motor Vehicle Theft' 'Forcible rape; Larceny-Theft' 'Burglary'
 'Burglary; Larceny-Theft']
Part_II_Crimes_Code :
 ['0' '9' '1' '3' '6' '5' '2' '1, 9' '2, 5, 6' '5, 9' '1, 6' '1, 5, 8'
 '7, 8' '8, 9' '3, 5' '4' '8' '1, 5, 9' '5, 7, 9' '5, 7' '1, 6, 7' '7, 9'
 '1, 6, 8' '3, 5, 6, 7, 9' '1, 8' '1, 3, 7, 8, 9' '1, 3, 9' '1, 7, 9' '7'
 '2, 9' '1, 3, 4, 9' '1, 5' '5, 6, 7' '3, 5, 9' '1, 7, 8, 9' '1, 5, 7, 9'
 '4, 9' '1, 7' '4, 5, 8, 9' '1, 8, 9']
Part_II_Crimes :
 ['No evidence' 'Other' 'Simple assault' 'Stolen property'
 'Prostitution or other non-rape sex offenses' 'Weapons offenses'
 'Fraud, forgery, embezzlement' 'Simple assault; Other'
 'Fraud, forgery, embezzlement; Weapons offenses; Prostitution or other non-rape sex offenses'
 'Weapons offenses; Other'
 'Simple assault; Prostitution or other non-rape sex offenses'
 'Simple assault; Weapons offenses; DUI' 'Drugs; DUI' 'DUI; Other'
 'Stolen property; Weapons offenses' 'Vandalism' 'DUI'
 'Simple assault; Weapons offenses; Other'
 'Weapons offenses; Drugs; Other' 'Weapons offenses; Drugs'
 'Simple assault; Prostitution or other non-rape sex offenses; Drugs'
 'Drugs; Other'
 'Simple assault; Prostitution or other non-rape sex offenses; DUI'
 'Stolen property; Weapons offenses; Prostitution or other non-rape sex offenses; Drugs; Other'
 'Simple assault; DUI'
 'Simple assault; Stolen property; Drugs; DUI; Other'
 'Simple assault; Stolen property; Other' 'Simple assault; Drugs; Other'
 'Drugs' 'Fraud, forgery, embezzlement; Other'
 'Simple assault; Stolen property; Vandalism; Other'
 'Simple assault; Weapons offenses'
 'Weapons offenses; Prostitution or other non-rape sex offenses; Drugs'
 'Stolen property; Weapons offenses; Other'
 'Simple assault; Drugs; DUI; Other'
 'Simple assault; Weapons offenses; Drugs; Other' 'Vandalism; Other'
 'Simple assault; Drugs' 'Vandalism; Weapons offenses; DUI; Other'
 'Simple assault; DUI; Other']
History_of_Physical_Altercations :
 ['Yes' 'No evidence' 'Attacked inanimate objects during arguments']
History_of_Domestic_Abuse_Code :
 ['0' '1' '1, 2' '2']
History_of_Domestic_Abuse :
 ['No evidence' 'Abused romantic partner'
 'Abused both romantic partner and other family member(s)'
 'Abused other family member(s)']
Domestic_Abuse_Specified_Code :
 ['0' '4' '2, 3' '3' '1, 3, 4' '1, 4' '1' '2' '1, 2, 3' '3, 4' '1, 3'
 '2, 4' '1, 2']
Voluntary_or_Mandatory_Counseling_Code :
 ['0' '2' '1' '1, 2']
Mental_Illness_Code :
 ['0' '1' '2' '3' '1, 2' '4']
Mental_Illness :
 ['No evidence' 'Mood disorder' 'Thought disorder'
 'Other psychiatric disorder' 'Both mood and thought disorders'
 'Indication of psychiatric disorder but no diagnosis']
Substance_Use_Code :
 ['1' '1, 3' '0' '3' '2' '1, 2' '1, 2, 3' '2, 3']
Substance_Use :
 ['Problem with alcohol' 'Problem with alcohol; Other drugs' 'No evidence'
 'Other drugs' 'Marijuana' 'Problem with alcohol; Marijuana'
 'Problem with alcohol; Marijuana; Other drugs' 'Marijuana; Other drugs']
Role_of_Psychosis_in_the_Shooting :
 ['No evidence that symptoms of psychosis played a role in the shooting'
 'Symptoms of psychosis played a moderate role in the crime, but there was an additional motive'
 'Symptoms of psychosis may have played a minor role in the crime'
 'Symptoms of psychosis played a major role in the crime, no other known motive']

In [8]:
# Check for bad values in non-numeric columns of mortality_df
mortality_check = mortality_df.select_dtypes(include=['object']).columns
for i in mortality_check:
    print(i, ":\n", mortality_df[i].unique())

STATE :
 ['AL' 'AK' 'AZ' 'AR' 'CA' 'CO' 'CT' 'DE' 'District of Columbia' 'FL' 'GA'
 'HI' 'ID' 'IL' 'IN' 'IA' 'KS' 'KY' 'LA' 'ME' 'MD' 'MA' 'MI' 'MN' 'MS'
 'MO' 'MT' 'NE' 'NV' 'NH' 'NJ' 'NM' 'NY' 'NC' 'ND' 'OH' 'OK' 'OR' 'PA'
 'RI' 'SC' 'SD' 'TN' 'TX' 'UT' 'VT' 'VA' 'WA' 'WV' 'WI' 'WY']
DEATHS :
 ['1,278' '164' '1,535' '666' '3,484' '1,036' '252' '124' '154' '3,232'
 '2,163' '66' '338' '1,798' '1,211' '367' '492' '840' '1,266' '179' '813'
 '263' '1,504' '561' '848' '1,489' '274' '244' '618' '156' '468' '571'
 '1,044' '1,831' '125' '797' '655' '1,941' '37' '1,105' '141' '1,480'
 '4,630' '446' '84' '1,316' '1,022' '311' '830' '1,315' '182' '1,365'
 '698' '3,576' '1,064' '248' '158' '3,142' '2,200' '71' '309' '1,995'
 '1,251' '364' '503' '947' '1,314' '178' '915' '247' '1,544' '573' '962'
 '1,414' '280' '200' '633' '123' '475' '578' '1,078' '1,839' '128' '1,911'
 '836' '670' '1,905' '64' '1,136' '1,569' '4,613' '450' '83' '1,248' '896'
 '319' '793' '155' '1,141' '175' '1,265' '673' '3,449' '922' '219' '135'
 '3,041' '1,897' '50' '321' '1,745' '1,159' '351' '494' '902' '1,183'
 '153' '803' '268' '1,454' '513' '818' '1,426' '238' '197' '547' '443'
 '479' '1,052' '1,699' '100' '1,764' '826' '592' '1,752' '54' '1,131'
 '120' '1,473' '4,164' '429' '76' '1,174' '864' '325' '717' '1,076' '580'
 '2,945' '846' '190' '93' '2,872' '1,695' '62' '255' '1,367' '958' '294'
 '403' '682' '1,013' '163' '757' '1,220' '465' '710' '1,252' '209' '205'
 '490' '368' '471' '804' '1,397' '1,578' '737' '566' '1,541' '48' '1,012'
 '113' '1,270' '3,683' '394' '67' '1,025' '842' '300' '604' '133' '1,147'
 '3,040' '889' '186' '107' '2,902' '1,680' '59' '1,382' '977' '282' '424'
 '762' '991' '159' '707' '258' '1,310' '437' '681' '1,311' '183' '550'
 '420' '438' '821' '1,416' '89' '1,555' '665' '519' '1,654' '895' '117'
 '1,228' '3,522' '397' '82' '1,035' '809' '343' '598' '1,124' '180'
 '1,134' '613' '3,184' '779' '188' '111' '2,724' '1,623' '39' '1,543'
 '1,016' '293' '466' '730' '1,008' '172' '742' '262' '1,138' '632' '1,307'
 '160' '508' '146' '478' '772' '1,430' '103' '1,589' '528' '1,636' '43'
 '893' '101' '1,246' '3,513' '410' '70' '1,041' '849' '348' '624' '1,046'
 '177' '1,094' '541' '812' '2,704' '1,571' '242' '1,490' '997' '288' '383'
 '987' '1,230' '432' '587' '1,144' '194' '171' '498' '132' '485' '900'
 '1,409' '90' '1,524' '766' '49' '891' '108' '1,148' '3,353' '370' '78'
 '1,049' '686' '332' '664' '970' '520' '3,095' '701' '189' '112' '2,559'
 '1,448' '55' '330' '694' '952' '144' '708' '213' '1,164' '589' '169'
 '121' '390' '1,289' '92' '706' '486' '1,485' '51' '850' '96' '1,075'
 '3,203' '946' '718' '278' '815' '145' '927' '496' '2,942' '663' '187'
 '102' '2,410' '1,391' '40' '1,179' '241' '329' '634' '546' '226' '1,095'
 '377' '943' '122' '340' '875' '1,206' '611' '497' '1,390' '34' '767'
 '2,848' '337' '69' '702' '286' '487']

In [9]:
# Replace 'District of Columbia' with 'DC'
mortality_df['STATE'] = mortality_df['STATE'].str.replace('District of Columbia', 'DC', case=False)
print("State:\n", mortality_df['STATE'].unique())
# Remove commas from numbers
mortality_df['DEATHS'] = mortality_df['DEATHS'].str.replace(',', '').astype(int)
print("Deaths:\n", mortality_df['DEATHS'].dtype)

State:
 ['AL' 'AK' 'AZ' 'AR' 'CA' 'CO' 'CT' 'DE' 'DC' 'FL' 'GA' 'HI' 'ID' 'IL'
 'IN' 'IA' 'KS' 'KY' 'LA' 'ME' 'MD' 'MA' 'MI' 'MN' 'MS' 'MO' 'MT' 'NE'
 'NV' 'NH' 'NJ' 'NM' 'NY' 'NC' 'ND' 'OH' 'OK' 'OR' 'PA' 'RI' 'SC' 'SD'
 'TN' 'TX' 'UT' 'VT' 'VA' 'WA' 'WV' 'WI' 'WY']
Deaths:
 int64

In [11]:
# Encode 'Gender' for mass_shooting_df
mass_shooting_df_encoded = pd.get_dummies(mass_shooting_df, columns=['Gender'], dtype=int, drop_first=True)
mass_shooting_df_encoded

,Shooting ID,Full Date,State,Age,Number Killed,Number Injured,year,Gender_Male,Gender_Transgender
0,1,2017-10-01,NV,64,60,867,2017,1,0
1,2,2016-06-12,FL,29,49,53,2016,1,0
2,3,2007-04-16,VA,23,32,26,2007,1,0
3,4,2012-12-14,CT,20,27,1,2012,1,0
4,5,2017-11-05,TX,26,25,20,2017,1,0
...,...,...,...,...,...,...,...,...,...
195,196,2005-08-28,TX,54,4,0,2005,1,0
196,197,1997-12-03,FL,59,4,0,1997,1,0
197,198,1997-08-19,NH,62,4,4,1997,1,0
198,199,2013-03-13,NY,64,4,2,2013,1,0
199,200,2001-02-05,IL,66,4,4,2001,1,0

In [12]:
#Save csv
mass_shooting_df_encoded.to_csv('Mass Shootings', index=False)
provisions_df.to_csv('Firearm Provisions', index=False)
gun_violence_df.to_csv('Gun Violence Data', index=False)
mass_shooters_df.to_csv('Mass Shooters', index=False)
mortality_df.to_csv('Mortality By State', index=False)