In [1]:
import pandas as pd

# read dataframes
provisions_df = pd.read_csv('Firearm Provisions.csv')
gun_violence_df = pd.read_csv('Gun Violence Data (2013-2018).csv')
mortality_df = pd.read_csv('Mortality By State.csv')

# Check for null values
print(f'There are {provisions_df.isnull().sum().sum()} null values in the provisions_df')
print(f'There are {gun_violence_df.isnull().sum().sum()} null values in the gun_violence_df')
print(f'There are {mortality_df.isnull().sum().sum()} null values in the mortality_df')

There are 0 null values in the provisions_df
There are 0 null values in the gun_violence_df
There are 0 null values in the mortality_df

In [2]:
# Extract the year from dates
gun_violence_df['date'] = pd.to_datetime(gun_violence_df['date'])
gun_violence_df['year'] = gun_violence_df['date'].dt.year
gun_violence_df = gun_violence_df.drop(columns=['date'])
print("Gun Violence:\n", gun_violence_df['year'].unique())

Gun Violence:
 [2013 2014 2015 2016 2017 2018]

In [3]:
#abbreviate state names
replace_states = {
    "Alabama": "AL",
    "Alaska": "AK",
    "Arizona": "AZ",
    "Arkansas": "AR",
    "California": "CA",
    "Colorado": "CO",
    "Connecticut": "CT",
    "Delaware": "DE",
    "Florida": "FL",
    "Georgia": "GA",
    "Hawaii": "HI",
    "Idaho": "ID",
    "Illinois": "IL",
    "Indiana": "IN",
    "Iowa": "IA",
    "Kansas": "KS",
    "Kentucky": "KY",
    "Louisiana": "LA",
    "Maine": "ME",
    "Maryland": "MD",
    "Massachusetts": "MA",
    "Michigan": "MI",
    "Minnesota": "MN",
    "Mississippi": "MS",
    "Missouri": "MO",
    "Montana": "MT",
    "Nebraska": "NE",
    "Nevada": "NV",
    "New Hampshire": "NH",
    "New Jersey": "NJ",
    "New Mexico": "NM",
    "New York": "NY",
    "North Carolina": "NC",
    "North Dakota": "ND",
    "Ohio": "OH",
    "Oklahoma": "OK",
    "Oregon": "OR",
    "Pennsylvania": "PA",
    "Rhode Island": "RI",
    "South Carolina": "SC",
    "South Dakota": "SD",
    "Tennessee": "TN",
    "Texas": "TX",
    "Utah": "UT",
    "Vermont": "VT",
    "Virginia": "VA",
    "Washington": "WA",
    "West Virginia": "WV",
    "Wisconsin": "WI",
    "Wyoming": "WY",
    "District of Columbia": "DC",
}

provisions_df['state'] = provisions_df['state'].map(replace_states)
print("Provisions:\n", provisions_df['state'].unique())
gun_violence_df['state'] = gun_violence_df['state'].map(replace_states)
print("Gun Violence", gun_violence_df['state'].unique())

Provisions:
 ['AL' 'AK' 'AZ' 'AR' 'CA' 'CO' 'CT' 'DE' 'FL' 'GA' 'HI' 'ID' 'IL' 'IN'
 'IA' 'KS' 'KY' 'LA' 'ME' 'MD' 'MA' 'MI' 'MN' 'MS' 'MO' 'MT' 'NE' 'NV'
 'NH' 'NJ' 'NM' 'NY' 'NC' 'ND' 'OH' 'OK' 'OR' 'PA' 'RI' 'SC' 'SD' 'TN'
 'TX' 'UT' 'VT' 'VA' 'WA' 'WV' 'WI' 'WY']
Gun Violence ['PA' 'CA' 'OH' 'CO' 'NC' 'OK' 'NM' 'LA' 'MD' 'TN' 'MO' 'DC' 'IL' 'DE'
 'UT' 'MI' 'GA' 'IN' 'MS' 'NY' 'FL' 'WA' 'SC' 'AZ' 'KY' 'NJ' 'VA' 'WI'
 'RI' 'TX' 'AL' 'KS' 'CT' 'WV' 'MN' 'NV' 'NE' 'MA' 'HI' 'NH' 'IA' 'AK'
 'AR' 'ID' 'OR' 'WY' 'ME' 'ND' 'MT' 'VT' 'SD']

In [8]:
# Check for bad values in non-numeric columns of provisions_df
provisions_check = provisions_df.select_dtypes(include=['object']).columns
for i in provisions_check:
    print(i, ":\n", provisions_df[i].unique())

state :
 ['AL' 'AK' 'AZ' 'AR' 'CA' 'CO' 'CT' 'DE' 'FL' 'GA' 'HI' 'ID' 'IL' 'IN'
 'IA' 'KS' 'KY' 'LA' 'ME' 'MD' 'MA' 'MI' 'MN' 'MS' 'MO' 'MT' 'NE' 'NV'
 'NH' 'NJ' 'NM' 'NY' 'NC' 'ND' 'OH' 'OK' 'OR' 'PA' 'RI' 'SC' 'SD' 'TN'
 'TX' 'UT' 'VT' 'VA' 'WA' 'WV' 'WI' 'WY']

In [9]:
# Check for bad values in non-numeric columns of gun_violence_df
gun_violence_check = gun_violence_df.select_dtypes(include=['object']).columns
for i in gun_violence_check:
    print(i, ":\n", gun_violence_df[i].unique())

state :
 ['PA' 'CA' 'OH' 'CO' 'NC' 'OK' 'NM' 'LA' 'MD' 'TN' 'MO' 'DC' 'IL' 'DE'
 'UT' 'MI' 'GA' 'IN' 'MS' 'NY' 'FL' 'WA' 'SC' 'AZ' 'KY' 'NJ' 'VA' 'WI'
 'RI' 'TX' 'AL' 'KS' 'CT' 'WV' 'MN' 'NV' 'NE' 'MA' 'HI' 'NH' 'IA' 'AK'
 'AR' 'ID' 'OR' 'WY' 'ME' 'ND' 'MT' 'VT' 'SD']

In [4]:
# Check for bad values in non-numeric columns of mortality_df
mortality_check = mortality_df.select_dtypes(include=['object']).columns
for i in mortality_check:
    print(i, ":\n", mortality_df[i].unique())

STATE :
 ['AL' 'AK' 'AZ' 'AR' 'CA' 'CO' 'CT' 'DE' 'District of Columbia' 'FL' 'GA'
 'HI' 'ID' 'IL' 'IN' 'IA' 'KS' 'KY' 'LA' 'ME' 'MD' 'MA' 'MI' 'MN' 'MS'
 'MO' 'MT' 'NE' 'NV' 'NH' 'NJ' 'NM' 'NY' 'NC' 'ND' 'OH' 'OK' 'OR' 'PA'
 'RI' 'SC' 'SD' 'TN' 'TX' 'UT' 'VT' 'VA' 'WA' 'WV' 'WI' 'WY']
DEATHS :
 ['1,278' '164' '1,535' '666' '3,484' '1,036' '252' '124' '154' '3,232'
 '2,163' '66' '338' '1,798' '1,211' '367' '492' '840' '1,266' '179' '813'
 '263' '1,504' '561' '848' '1,489' '274' '244' '618' '156' '468' '571'
 '1,044' '1,831' '125' '797' '655' '1,941' '37' '1,105' '141' '1,480'
 '4,630' '446' '84' '1,316' '1,022' '311' '830' '1,315' '182' '1,365'
 '698' '3,576' '1,064' '248' '158' '3,142' '2,200' '71' '309' '1,995'
 '1,251' '364' '503' '947' '1,314' '178' '915' '247' '1,544' '573' '962'
 '1,414' '280' '200' '633' '123' '475' '578' '1,078' '1,839' '128' '1,911'
 '836' '670' '1,905' '64' '1,136' '1,569' '4,613' '450' '83' '1,248' '896'
 '319' '793' '155' '1,141' '175' '1,265' '673' '3,449' '922' '219' '135'
 '3,041' '1,897' '50' '321' '1,745' '1,159' '351' '494' '902' '1,183'
 '153' '803' '268' '1,454' '513' '818' '1,426' '238' '197' '547' '443'
 '479' '1,052' '1,699' '100' '1,764' '826' '592' '1,752' '54' '1,131'
 '120' '1,473' '4,164' '429' '76' '1,174' '864' '325' '717' '1,076' '580'
 '2,945' '846' '190' '93' '2,872' '1,695' '62' '255' '1,367' '958' '294'
 '403' '682' '1,013' '163' '757' '1,220' '465' '710' '1,252' '209' '205'
 '490' '368' '471' '804' '1,397' '1,578' '737' '566' '1,541' '48' '1,012'
 '113' '1,270' '3,683' '394' '67' '1,025' '842' '300' '604' '133' '1,147'
 '3,040' '889' '186' '107' '2,902' '1,680' '59' '1,382' '977' '282' '424'
 '762' '991' '159' '707' '258' '1,310' '437' '681' '1,311' '183' '550'
 '420' '438' '821' '1,416' '89' '1,555' '665' '519' '1,654' '895' '117'
 '1,228' '3,522' '397' '82' '1,035' '809' '343' '598' '1,124' '180'
 '1,134' '613' '3,184' '779' '188' '111' '2,724' '1,623' '39' '1,543'
 '1,016' '293' '466' '730' '1,008' '172' '742' '262' '1,138' '632' '1,307'
 '160' '508' '146' '478' '772' '1,430' '103' '1,589' '528' '1,636' '43'
 '893' '101' '1,246' '3,513' '410' '70' '1,041' '849' '348' '624' '1,046'
 '177' '1,094' '541' '812' '2,704' '1,571' '242' '1,490' '997' '288' '383'
 '987' '1,230' '432' '587' '1,144' '194' '171' '498' '132' '485' '900'
 '1,409' '90' '1,524' '766' '49' '891' '108' '1,148' '3,353' '370' '78'
 '1,049' '686' '332' '664' '970' '520' '3,095' '701' '189' '112' '2,559'
 '1,448' '55' '330' '694' '952' '144' '708' '213' '1,164' '589' '169'
 '121' '390' '1,289' '92' '706' '486' '1,485' '51' '850' '96' '1,075'
 '3,203' '946' '718' '278' '815' '145' '927' '496' '2,942' '663' '187'
 '102' '2,410' '1,391' '40' '1,179' '241' '329' '634' '546' '226' '1,095'
 '377' '943' '122' '340' '875' '1,206' '611' '497' '1,390' '34' '767'
 '2,848' '337' '69' '702' '286' '487']

In [5]:
# Replace 'District of Columbia' with 'DC'
mortality_df['STATE'] = mortality_df['STATE'].str.replace('District of Columbia', 'DC', case=False)
print("State:\n", mortality_df['STATE'].unique())
# Remove commas from numbers
mortality_df['DEATHS'] = mortality_df['DEATHS'].str.replace(',', '').astype(int)
print("Deaths:\n", mortality_df['DEATHS'].dtype)

State:
 ['AL' 'AK' 'AZ' 'AR' 'CA' 'CO' 'CT' 'DE' 'DC' 'FL' 'GA' 'HI' 'ID' 'IL'
 'IN' 'IA' 'KS' 'KY' 'LA' 'ME' 'MD' 'MA' 'MI' 'MN' 'MS' 'MO' 'MT' 'NE'
 'NV' 'NH' 'NJ' 'NM' 'NY' 'NC' 'ND' 'OH' 'OK' 'OR' 'PA' 'RI' 'SC' 'SD'
 'TN' 'TX' 'UT' 'VT' 'VA' 'WA' 'WV' 'WI' 'WY']
Deaths:
 int64

In [12]:
mortality_df

     mortality_id  YEAR STATE  RATE  DEATHS
0               1  2022    AL  25.5    1278
1               2  2022    AK  22.4     164
2               3  2022    AZ  20.1    1535
3               4  2022    AR  21.9     666
4               5  2022    CA   8.6    3484
..            ...   ...   ...   ...     ...
446           447  2014    VA  10.3     889
447           448  2014    WA   9.7     702
448           449  2014    WV  14.6     286
449           450  2014    WI   8.2     487
450           451  2014    WY  16.2      93

[451 rows x 5 columns]

In [10]:
#Save csv
provisions_df.to_csv('Firearm Provisions', index=False)
gun_violence_df.to_csv('Gun Violence Data', index=False)
mortality_df.to_csv('Mortality By State', index=False)