In [1]:
import pandas as pd

# read dataframes
provisions_df = pd.read_csv('Firearm Provisions.csv')
gun_violence_df = pd.read_csv('Gun Violence Data (2013-2018).csv')
mass_shooters_df = pd.read_csv('Mass Shooters.csv')
mass_shooting_df = pd.read_csv('Mass Shootings.csv')
mortality_df = pd.read_csv('Mortality By State.csv')

# Check for null values
print(f'There are {provisions_df.isnull().sum().sum()} null values in the provisions_df')
print(f'There are {gun_violence_df.isnull().sum().sum()} null values in the gun_violence_df')
print(f'There are {mass_shooters_df.isnull().sum().sum()} null values in the mass_shooters_df')
print(f'There are {mortality_df.isnull().sum().sum()} null values in the mortality_df')

There are 0 null values in the provisions_df
There are 0 null values in the gun_violence_df
There are 405 null values in the mass_shooters_df
There are 0 null values in the mass_shooting_df
There are 0 null values in the mortality_df

In [4]:
# Extract the year from dates
gun_violence_df['date'] = pd.to_datetime(gun_violence_df['date'])
gun_violence_df['year'] = gun_violence_df['date'].dt.year
gun_violence_df = gun_violence_df.drop(columns=['date'])
print("Gun Violence:\n", gun_violence_df['year'].unique())

mass_shooting_df['Full Date'] = pd.to_datetime(mass_shooting_df['Full Date'])
mass_shooting_df['year'] = mass_shooting_df['Full Date'].dt.year
mass_shooting_df = mass_shooting_df.drop(columns=['Full Date'])
print("Mass Shooting:\n", mass_shooting_df['year'].unique())

Gun Violence:
 [2013 2014 2015 2016 2017 2018]
Mass Shooting:
 [2017 2016 2007 2012 2019 1991 2022 1984 2023 2018 1966 2015 1986 1999
 2009 2013 1990 2021 2005 1989 2010 2011 1982 1993 1973 1976 1988 2000
 2006 1968 1977 2014 1983 2008 1972 2004 2003 1967 1992 1987 1998 1994
 2001 1975 1980 1995 1996 2020 1981 2024 1970 1969 1985 1997 1978 2002]

In [5]:
#abbreviate state names
replace_states = {
    "Alabama": "AL",
    "Alaska": "AK",
    "Arizona": "AZ",
    "Arkansas": "AR",
    "California": "CA",
    "Colorado": "CO",
    "Connecticut": "CT",
    "Delaware": "DE",
    "Florida": "FL",
    "Georgia": "GA",
    "Hawaii": "HI",
    "Idaho": "ID",
    "Illinois": "IL",
    "Indiana": "IN",
    "Iowa": "IA",
    "Kansas": "KS",
    "Kentucky": "KY",
    "Louisiana": "LA",
    "Maine": "ME",
    "Maryland": "MD",
    "Massachusetts": "MA",
    "Michigan": "MI",
    "Minnesota": "MN",
    "Mississippi": "MS",
    "Missouri": "MO",
    "Montana": "MT",
    "Nebraska": "NE",
    "Nevada": "NV",
    "New Hampshire": "NH",
    "New Jersey": "NJ",
    "New Mexico": "NM",
    "New York": "NY",
    "North Carolina": "NC",
    "North Dakota": "ND",
    "Ohio": "OH",
    "Oklahoma": "OK",
    "Oregon": "OR",
    "Pennsylvania": "PA",
    "Rhode Island": "RI",
    "South Carolina": "SC",
    "South Dakota": "SD",
    "Tennessee": "TN",
    "Texas": "TX",
    "Utah": "UT",
    "Vermont": "VT",
    "Virginia": "VA",
    "Washington": "WA",
    "West Virginia": "WV",
    "Wisconsin": "WI",
    "Wyoming": "WY",
    "District of Columbia": "DC",
}

provisions_df['state'] = provisions_df['state'].map(replace_states)
print("Provisions:\n", provisions_df['state'].unique())
gun_violence_df['state'] = gun_violence_df['state'].map(replace_states)
print("Gun Violence", gun_violence_df['state'].unique())

Provisions:
 ['AL' 'AK' 'AZ' 'AR' 'CA' 'CO' 'CT' 'DE' 'FL' 'GA' 'HI' 'ID' 'IL' 'IN'
 'IA' 'KS' 'KY' 'LA' 'ME' 'MD' 'MA' 'MI' 'MN' 'MS' 'MO' 'MT' 'NE' 'NV'
 'NH' 'NJ' 'NM' 'NY' 'NC' 'ND' 'OH' 'OK' 'OR' 'PA' 'RI' 'SC' 'SD' 'TN'
 'TX' 'UT' 'VT' 'VA' 'WA' 'WV' 'WI' 'WY']
Gun Violence ['PA' 'CA' 'OH' 'CO' 'NC' 'OK' 'NM' 'LA' 'MD' 'TN' 'MO' 'DC' 'IL' 'DE'
 'UT' 'MI' 'GA' 'IN' 'MS' 'NY' 'FL' 'WA' 'SC' 'AZ' 'KY' 'NJ' 'VA' 'WI'
 'RI' 'TX' 'AL' 'KS' 'CT' 'WV' 'MN' 'NV' 'NE' 'MA' 'HI' 'NH' 'IA' 'AK'
 'AR' 'ID' 'OR' 'WY' 'ME' 'ND' 'MT' 'VT' 'SD']

In [7]:
# Check for bad values in non-numeric columns of mortality_df
mortality_check = mortality_df.select_dtypes(include=['object']).columns
for i in mortality_check:
    print(i, ":\n", mortality_df[i].unique())

STATE :
 ['AL' 'AK' 'AZ' 'AR' 'CA' 'CO' 'CT' 'DE' 'District of Columbia' 'FL' 'GA'
 'HI' 'ID' 'IL' 'IN' 'IA' 'KS' 'KY' 'LA' 'ME' 'MD' 'MA' 'MI' 'MN' 'MS'
 'MO' 'MT' 'NE' 'NV' 'NH' 'NJ' 'NM' 'NY' 'NC' 'ND' 'OH' 'OK' 'OR' 'PA'
 'RI' 'SC' 'SD' 'TN' 'TX' 'UT' 'VT' 'VA' 'WA' 'WV' 'WI' 'WY']
DEATHS :
 ['1,278' '164' '1,535' '666' '3,484' '1,036' '252' '124' '154' '3,232'
 '2,163' '66' '338' '1,798' '1,211' '367' '492' '840' '1,266' '179' '813'
 '263' '1,504' '561' '848' '1,489' '274' '244' '618' '156' '468' '571'
 '1,044' '1,831' '125' '797' '655' '1,941' '37' '1,105' '141' '1,480'
 '4,630' '446' '84' '1,316' '1,022' '311' '830' '1,315' '182' '1,365'
 '698' '3,576' '1,064' '248' '158' '3,142' '2,200' '71' '309' '1,995'
 '1,251' '364' '503' '947' '1,314' '178' '915' '247' '1,544' '573' '962'
 '1,414' '280' '200' '633' '123' '475' '578' '1,078' '1,839' '128' '1,911'
 '836' '670' '1,905' '64' '1,136' '1,569' '4,613' '450' '83' '1,248' '896'
 '319' '793' '155' '1,141' '175' '1,265' '673' '3,449' '922' '219' '135'
 '3,041' '1,897' '50' '321' '1,745' '1,159' '351' '494' '902' '1,183'
 '153' '803' '268' '1,454' '513' '818' '1,426' '238' '197' '547' '443'
 '479' '1,052' '1,699' '100' '1,764' '826' '592' '1,752' '54' '1,131'
 '120' '1,473' '4,164' '429' '76' '1,174' '864' '325' '717' '1,076' '580'
 '2,945' '846' '190' '93' '2,872' '1,695' '62' '255' '1,367' '958' '294'
 '403' '682' '1,013' '163' '757' '1,220' '465' '710' '1,252' '209' '205'
 '490' '368' '471' '804' '1,397' '1,578' '737' '566' '1,541' '48' '1,012'
 '113' '1,270' '3,683' '394' '67' '1,025' '842' '300' '604' '133' '1,147'
 '3,040' '889' '186' '107' '2,902' '1,680' '59' '1,382' '977' '282' '424'
 '762' '991' '159' '707' '258' '1,310' '437' '681' '1,311' '183' '550'
 '420' '438' '821' '1,416' '89' '1,555' '665' '519' '1,654' '895' '117'
 '1,228' '3,522' '397' '82' '1,035' '809' '343' '598' '1,124' '180'
 '1,134' '613' '3,184' '779' '188' '111' '2,724' '1,623' '39' '1,543'
 '1,016' '293' '466' '730' '1,008' '172' '742' '262' '1,138' '632' '1,307'
 '160' '508' '146' '478' '772' '1,430' '103' '1,589' '528' '1,636' '43'
 '893' '101' '1,246' '3,513' '410' '70' '1,041' '849' '348' '624' '1,046'
 '177' '1,094' '541' '812' '2,704' '1,571' '242' '1,490' '997' '288' '383'
 '987' '1,230' '432' '587' '1,144' '194' '171' '498' '132' '485' '900'
 '1,409' '90' '1,524' '766' '49' '891' '108' '1,148' '3,353' '370' '78'
 '1,049' '686' '332' '664' '970' '520' '3,095' '701' '189' '112' '2,559'
 '1,448' '55' '330' '694' '952' '144' '708' '213' '1,164' '589' '169'
 '121' '390' '1,289' '92' '706' '486' '1,485' '51' '850' '96' '1,075'
 '3,203' '946' '718' '278' '815' '145' '927' '496' '2,942' '663' '187'
 '102' '2,410' '1,391' '40' '1,179' '241' '329' '634' '546' '226' '1,095'
 '377' '943' '122' '340' '875' '1,206' '611' '497' '1,390' '34' '767'
 '2,848' '337' '69' '702' '286' '487']

In [8]:
# Replace 'District of Columbia' with 'DC'
mortality_df['STATE'] = mortality_df['STATE'].str.replace('District of Columbia', 'DC', case=False)
print("State:\n", mortality_df['STATE'].unique())
# Remove commas from numbers
mortality_df['DEATHS'] = mortality_df['DEATHS'].str.replace(',', '').astype(int)
print("Deaths:\n", mortality_df['DEATHS'].dtype)

State:
 ['AL' 'AK' 'AZ' 'AR' 'CA' 'CO' 'CT' 'DE' 'DC' 'FL' 'GA' 'HI' 'ID' 'IL'
 'IN' 'IA' 'KS' 'KY' 'LA' 'ME' 'MD' 'MA' 'MI' 'MN' 'MS' 'MO' 'MT' 'NE'
 'NV' 'NH' 'NJ' 'NM' 'NY' 'NC' 'ND' 'OH' 'OK' 'OR' 'PA' 'RI' 'SC' 'SD'
 'TN' 'TX' 'UT' 'VT' 'VA' 'WA' 'WV' 'WI' 'WY']
Deaths:
 int64

In [9]:
# Encode 'Gender' for mass_shooting_df
mass_shooting_df_encoded = pd.get_dummies(mass_shooting_df, columns=['Gender'], dtype=int, drop_first=True)
mass_shooting_df_encoded

,Shooting ID,State,Age,Number Killed,Number Injured,year,Gender_Male,Gender_Transgender
0,1,NV,64,60,867,2017,1,0
1,2,FL,29,49,53,2016,1,0
2,3,VA,23,32,26,2007,1,0
3,4,CT,20,27,1,2012,1,0
4,5,TX,26,25,20,2017,1,0
...,...,...,...,...,...,...,...,...
195,196,TX,54,4,0,2005,1,0
196,197,FL,59,4,0,1997,1,0
197,198,NH,62,4,4,1997,1,0
198,199,NY,64,4,2,2013,1,0
199,200,IL,66,4,4,2001,1,0

In [10]:
#Save csv
mass_shooting_df_encoded.to_csv('Mass Shootings', index=False)
provisions_df.to_csv('Firearm Provisions', index=False)
gun_violence_df.to_csv('Gun Violence Data', index=False)
mortality_df.to_csv('Mortality By State', index=False)